body {
  width: 100%;
  height:100%;
}

html {
  width: 100%;
  height:100%;
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  background: url(http://www.eloanenaturo.fr/ressources/images/f8f28aab6287.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.corps{
  width:50%;
  min-width: 400px;
  margin:auto;
  background-color:rgba(255, 255, 255, 0.7);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

a{
  text-decoration: none;
}
a:hover{
  color:#4CAF50;
}

/* MENU */
header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
header li {
  float: left;
}
header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
header li a:hover {
  background-color: #111;
}
.active {
  background-color: #4CAF50;
}

 /* Menu déroulant */
.dropbtn {
  background-color: #f4511e;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Le conteneur de la div a besoin de positionner le conteu du dropdown*/
.dropdown {
  position: relative;
  display: inline-block;
  float:right;
}

/* Contenu du dropdown par défaut non visible */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* liens dans le dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 12px;
  text-align: center;
}

/* Change la couleur des links du dropdown en hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Montre le contenu du dropdown */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change la couleur du fond du dropdown quand le contenu est montré */
.dropdown:hover .dropbtn {
    background-color: #f43c1e;;
}



/* SECTION */

.contenu {
  height:100%;
  font-size:16px;
  margin:auto;
  text-align: justify;
  width: 50%;
}

.titre1{
  font-size: 22px;
  text-align: center;
  font-family: Helvetica;
  padding: 18px;
}

#carousel  {
  margin-top: 5%;
}

#carousel img {
  margin:auto;
  max-width: 100%;
  height: auto;
}

.carouselBoutton {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 4px;
  cursor: pointer;
}

.arrow-left{
  margin-top: 3%;
  margin-left: 5%;
  transform: translate(0%,-50%);
  -ms-transform: translate(-0%,-50%);
}
.arrow-right{
  margin-top: 3%;
  margin-left: 74%;
  transform: translate(0%,-50%);
  -ms-transform: translate(-0%,-50%);
}

/*#####################################################
#         IMAGES EFFECTS             #
#####################################################*/
div.img {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 100%;
}

div.img:hover {
  border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  background-color: #4CAF50;
  color:white;
}

div.desc:hover {
  background-color:     #333;
}

 /* Flou */
.blur {
  -webkit-filter: blur(2px); /* Chrome, Safari, Opera */
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}
.blur:hover {
    -webkit-filter: blur(0px); /* Chrome, Safari, Opera */
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
    filter: blur(0px);
}

.img-shadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-shadow:hover{
  box-shadow: 0 4px 8px 0 #337ab7, 0 6px 20px 0 #337ab7;
}

 /* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

/* FORMULAIRE */
form{
  width: 100%;
  margin:auto;
}
input {
  width: 100%;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}


input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

textarea {
  width: 91%;
  height: 150px;
  padding: 12px 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 16px;
}


 /* FOOTER */
footer { 
  text-align:center; 
  width:50%;
  margin:auto;
  position: flex;
  bottom: 0;
}


/* menu bbcode formulaire */
#bbcode ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#bbcode li{
  float: left;
}

#bbcode li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#bbcode li a:hover {
background-color: #111;
}

#bbcode button {
  background-color:#008CBA;
  border:1px solid #241d13;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-weight:bold;
  padding:9px 9px;
  text-shadow:0px -1px 0px #7a2a1d;
}

#bbcode button:hover {
  background-color:#b34332;
}
#bbcode button:active {
  position:relative;
  top:1px;
}



/* IMAGES EFFECTS */
.focus {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.focus:hover {
	border: 10px solid #000;
	border-radius: 50%;
}

/*#####################################################
#                  BBCODE STYLE                       #
#####################################################*/
.bbcode-h1{
  font-size:24px;
  font-weight:bold;
  color:#4CAF50;
  margin:0;
}
.bbcode-h2{
  font-size:20px;
  color:#5ad45f;
  margin:0;
}
.bbcode-h3{
  font-size:16px;
  margin:0;
}
.detail-article{
  font-size:13px;
  margin:0;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}

/* UTILITIES */

.margin-bottom{
  margin-bottom: 45px;
}
.margin-top{
  margin-top: 55px;
}
.margin-zero{
  margin:0;
}
.padding-top-bottom{
  padding-top:25px;  
  padding-bottom:25px;
}
.padding-top-footer{
  padding-top:5px;  
}
.padding-top{
  padding-top:25px;  
}
.padding-bottom{
  padding-bottom:25px;  
}
.padding-left{
  padding-left:25px;  
}
.padding-right{
  padding-right:25px;  
}
.font-size-petit{
  font-size:12px;
}
.color-black{
  color:black;
}
.color-white{
  color:white;
}
.color-blue{
  color:#337ab7;
}
.float-right{
  float: right;
}
.check{
  opacity:0.5;
  color:#996;
}